// =============================================================================
// Variables and imports
// =============================================================================

$brand-color: rgb(26, 128, 247);
$hover-grey: hsl(0, 0, 94);

@import 'border-radius';

// =============================================================================
// General
// =============================================================================

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

hr {
    margin: 30px 0;
}

p {
    font-size: 14pt;
}

a {
    color: $brand-color;
    &:hover,
    &:focus {
        color: darken($brand-color, 10%);
    }
    &.title-link {
        color: #000;
        &:hover,
        &:focus {
            @include border-radius(3px);
            background-color: $hover-grey;
            text-decoration: none;
        }
    }
    &.text-muted:hover,
    &.text-muted:focus {
        color: #444;
    }
}

.img-margin {
    margin: {
        top: 12px;
        bottom: 16px;
    }
}

.btn-margin {
    margin: 10px 0;
}

.btn-primary {
    color: #fff;
    background-color: $brand-color;
    border-color: darken($brand-color, 5%);
    &:hover,
    &:focus,
    &:active,
    &.active {
        color: #fff;
        background-color: darken($brand-color, 10%);
        border-color: darken(darken($brand-color, 10%), 5%);
    }
    &:active,
    &.active {
        background-image: none;
    }
    &.disabled, &[disabled], fieldset[disabled] &,
    &.disabled:hover, &[disabled]:hover, fieldset[disabled] &:hover,
    &.disabled:focus, &[disabled]:focus, fieldset[disabled] &:focus,
    &.disabled:active, &[disabled]:active, fieldset[disabled] &:active,
    &.disabled.active, &[disabled].active, fieldset[disabled] &.active {
        background-color: $brand-color;
        border-color: darken($brand-color, 5%);
    }
}

// =============================================================================
// Masthead stuff
// =============================================================================

.nav-pills > li.active > a {
    background-color: $brand-color;
    &:hover,
    &:focus {
        background-color: darken($brand-color, 10%);
    }
}

// Make the masthead heading the same height as the navigation
.masthead h3 {
    font-size: 28px;
    line-height: 40px;
}

// =============================================================================
// Front page stuff
// =============================================================================

.billboard {
    text-align: center;
    padding: 0% 5%;
    h1 {
        margin-top: 0;
        font-size: 24pt;
        line-height: 30pt;
    }
    p {
        font-size: 16pt;
    }
}

.click-zone {
    a {
        color: #000;
        text-decoration: none;
    }
    @include border-radius(6px);
    padding: 14px 14px 0 14px;
    &:hover,
    &:focus {
        background-color: $hover-grey;
    }
    margin: 10px 0;
}

#join-mail-list {
    margin: 52px 0;
}

#connect {
    font-size: 150%;
    text-align: center;
    i {
        font-size: 350%;
    }
    :hover {
        text-decoration: none;
    }
}

// =============================================================================
// Project stuff
// =============================================================================

.leader-row {
    margin-bottom: 12px;
}

.leader-name {
    display: inline-block;
    margin-right: 15px;
}

.leader-email,
.leader-phone {
    margin-right: 10px;
}
