// =============================================================================
// Variables and imports
// =============================================================================

$brand-color: rgb(26, 128, 247);

@import 'border-shadow';

// =============================================================================
// General
// =============================================================================

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

hr {
    margin: 30px 0;
}

a {
    color: $brand-color;
    &:hover,
    &:focus {
        color: darken($brand-color, 10%);
    }
    &.click-zone {
        text-decoration: none;
        color: inherit;
    }
}

.btn-primary {
    color: #ffffff;
    background-color: $brand-color;
    border-color: darken($brand-color, 5%);
    &%active {
        color: #ffffff;
        background-color: darken($brand-color, 10%);
        border-color: darken(darken($brand-color, 10%), 5%);
    }
    :hover,
    :focus {
        @extend %active;
    }
    :active,
    .active {
        @extend %active;
        background-image: none;
    }
    &.disabled, &[disabled], fieldset[disabled] &,
    &.disabled:hover, &[disabled]:hover, fieldset[disabled] &:hover,
    &.disabled:focus, &[disabled]:focus, fieldset[disabled] &:focus,
    &.disabled:active, &[disabled]:active, fieldset[disabled] &:active,
    &.disabled.active, &[disabled].active, fieldset[disabled] &.active {
        background-color: $brand-color;
        border-color: darken($brand-color, 5%);
    }
}

// =============================================================================
// Masthead stuff
// =============================================================================

.nav-pills > li.active > a {
    background-color: $brand-color;
    &:hover,
    &:focus {
        background-color: darken($brand-color, 10%);
    }
}

// Make the masthead heading the same height as the navigation
#masthead h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
}

// =============================================================================
// Front page stuff
// =============================================================================

.thumbnail {
    margin-bottom: 5%;
    &:hover,
    &:focus {
        border-color: $brand-color;
        @include border-shadow(1px, $brand-color)
    }
}

#past-proj-btn {
    margin-bottom: 5%;
}

#join-mail-list {
    margin-bottom: 3%;
}

#connect {
    font-size: 150%;
    text-align: center;
    i {
        font-size: 350%;
    }
    :hover {
        text-decoration: none;
    }
}

// =============================================================================
// Project stuff
// =============================================================================

.disclose-form {
    margin: {
        top: 4%;
        bottom: -8%;
    }
}

.leader-row {
    margin-bottom: 12px;
}

.leader-name {
    display: inline-block;
    margin-right: 15px;
}

.leader-email,
.leader-phone {
    margin-right: 10px;
}
