<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>
<button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#demo">Simple collapsible</button>
<div id="demo" class="collapse in">
  <h2>This is in a collapsible thing!</h2>
</div>
