/* Front page stuff */

a.click-zone {
    text-decoration: none;
    color: inherit;
}

.starburst {
    position: relative;
    left: -30px;            /* Half the starburst's width */
    margin-bottom: -30px;   /* Half the starburst's height */
    z-index = 1;
    opacity: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    -moz-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out;
}

/* Project leader stuff */

.leader-name {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
}
.leader-email, .leader-phone {
    margin-right: 10px;
}
.leader-polaroid {
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
}
