/* General */

a {
    color: #1a80f7;
}

a:hover, a:focus {
    color: #166dd2;
}

/* Masthead stuff */

.nav-pills > .active > a,
.nav-pills > .active > a:hover,
.nav-pills > .active > a:focus {
    background-color: #1a80f7;
}

/* Front page stuff */

#projects .row {
    margin-bottom: 5%;
}

a.click-zone {
    text-decoration: none;
    color: inherit;
}

.thumbnail:hover,
.thumbnail:focus {
    border-color: #1a80f7;
    -webkit-box-shadow: -1px -1px 0 #1a80f7, 1px -1px 0 #1a80f7, -1px 1px 0 #1a80f7, 1px 1px 0 #1a80f7;
       -moz-box-shadow: -1px -1px 0 #1a80f7, 1px -1px 0 #1a80f7, -1px 1px 0 #1a80f7, 1px 1px 0 #1a80f7;
            box-shadow: -1px -1px 0 #1a80f7, 1px -1px 0 #1a80f7, -1px 1px 0 #1a80f7, 1px 1px 0 #1a80f7;
}

#past-proj-btn {
    margin-bottom: 5%;
}

#join-mail-list {
    margin-bottom: 3%;
}

#connect {
    font-size: 22px;
}

#connect :hover {
    text-decoration: none;
}

#connect div {
    margin-left: 3%;
    margin-right: 3%;
    display: inline-block;
}

#connect i {
    font-size: 300%;
    text-decoration: none;
}

/* Project leader stuff */

.leader-name {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
}
.leader-email, .leader-phone {
    margin-right: 10px;
}
.leader-polaroid {
    width: 140px;
    height: 140px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #eee;
}
