/* General */

body {
    padding-top: 20px;
    padding-bottom: 40px;
}

hr {
    margin: 30px 0;
}

a {
    color: #1a80f7;
}

a:hover, a:focus {
    color: #166dd2;
}

.btn-primary {
  color: #ffffff;
  background-color: #1a80f7;
  border-color: #197aeb;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #166dd2;
  border-color: #135db3;
}

.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1a80f7;
  border-color: #197aeb;
}

/* Masthead stuff */

.nav-pills > li.active > a {
    background-color: #1a80f7;
}

.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #166dd2;
}

/* Make the masthead heading the same height as the navigation */
#masthead h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Front page stuff */

a.click-zone {
    text-decoration: none;
    color: inherit;
}

.thumbnail {
    margin-bottom: 5%;
}

.thumbnail:hover,
.thumbnail:focus {
    border-color: #1a80f7;
    -webkit-box-shadow: -1px -1px 0 #1a80f7, 1px -1px 0 #1a80f7, -1px 1px 0 #1a80f7, 1px 1px 0 #1a80f7;
       -moz-box-shadow: -1px -1px 0 #1a80f7, 1px -1px 0 #1a80f7, -1px 1px 0 #1a80f7, 1px 1px 0 #1a80f7;
            box-shadow: -1px -1px 0 #1a80f7, 1px -1px 0 #1a80f7, -1px 1px 0 #1a80f7, 1px 1px 0 #1a80f7;
}

#past-proj-btn {
    margin-bottom: 5%;
}

#join-mail-list {
    margin-bottom: 3%;
}

#connect i {
    font-size: 350%;
}

#connect {
    font-size: 150%;
    text-align: center;
}

#connect :hover {
    text-decoration: none;
}

/* Project stuff */

.disclose-form {
    margin-top: 4%;
    margin-bottom: -8%;
}

.leader-row {
    margin-bottom: 12px;
}

.leader-name {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 15px;
}
.leader-email, .leader-phone {
    margin-right: 10px;
}
