<!DOCTYPE html>
<head>

  <title>{{ title }} | Tesla Works</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link href="/static/css/teslaworks.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->

  {% block html_head %}{% endblock %}
</head>

<body>
  <div class="container">

    <div class="row">
      <div class="col-md-offset-1 col-md-10">
          {% include 'masthead.html' %}
      </div>
    </div>

    <div class="row">
      <div {% if width %}class="col-md-offset-{{ (12 - width) // 2 }} col-md-{{ width }}"{% endif %}>
          {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ message }}
          </div>
          {% endfor %}
          {% endif %}
          {% endwith %}
          {% block html_body %}{% endblock %}
      </div>
    </div>
  </div>
  
  <!-- jQuery (for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Bootstrap -->
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <!-- Page-specific post-body blocks -->
  {% block html_post_body %}{% endblock %}
</body>

</html>
