<!DOCTYPE html>
<head>

  <title>{{ title }} | Tesla Works</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <!-- Our CSS -->
  <link href="/static/css/bootstrap-mktg-narrow.css" rel="stylesheet">
  <link href="/static/css/teslaworks.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="../../assets/js/html5shiv.js"></script>
    <script src="../../assets/js/respond.min.js"></script>
  <![endif]-->

  {% block html_head %}{% endblock %}
</head>

<body>
  <div class="container">
    <div class="row">
      <div {% if page_width is defined %}class="{{ page_width }}"{% endif %}>
        {% include 'masthead.html' %}
        {% block html_body %}{% endblock %}
      </div>
    </div>
  </div>
  
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="//code.jquery.com/jquery.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
  <!-- Page-specific post-body blocks -->
  {% block html_post_body %}{% endblock %}
</body>

</html>
