{% extends "base.html" %}

{% set title = 'Home' %}

{% block html_head %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block html_body %}

<div class="row-fluid">
    <img src="/static/img/logo-jumbo.png" alt="">
    <h1 class="text-center">Be a part of awesome engineering and design projects</h1>
</div>

<hr>

<div class="row-fluid">
    <h2>Get involved by checking out our projects below!</h2>
</div>

<div id="interest-toolbar" class="row-fluid">
    <p>Filter by interest:</p>
    <div id="interest-buttons" class="btn-group pull-right" data-toggle="button-toggle">
        <button class="btn" data-interest="electrical-engineering">EE</button>
        <button class="btn" data-interest="programming">Programming</button>
        <button class="btn" data-interest="mechanical-engineering">MechE</button>
        <button class="btn" data-interest="product-design">PDes</button>
        <button class="btn" data-interest="marketing">Marketing</button>
        <button class="btn" data-interest="graphic-design">Graphic Design</button>
    </div>
</div>

<div class="row-fluid">
    <ul class="thumbnails">
    {% for project_name, project in projects.iteritems() %}
        <li id="{{ project_name }}" class="span6">
            <div class="starburst">
                <i class="icon-star icon-4x"></i>
            </div>
            <a class="thumbnail click-zone" href="/{{ project_name }}">
                <img class="img-rounded" src={{ project.photos.front_page }} alt="">
                <h3>{{ project.project_title }}</h3>
                <p>{{ project.project_goal }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="row-fluid">
    <a class="click-zone" data-toggle="collapse" data-target="#get-involved">
        <div class="alert alert-info">
            <span>Looking for other ways to get involved? <i class="icon-chevron-down"></i></span>
            <div id="get-involved" class="collapse out">
                <ol>
                    <li>Show up to a meeting! Meetings are Fridays at 5pm in Tate 170.</li>
                    <li>Email the group's president, Peter Wagner, at peter@wagner.fake.</li>
                    <li>Sign up for our mailing list!</li>
                </ol>
            </div>
        </div>
    </a>
</div>

<div class="row-fluid">
    <h3>What do you want to know about?</h3>
    
    <h4>Involvement Level</h4>
    <p>
        You get out of it what you put into it. Some of our members have been in television interviews, received scholarships, and landed internships. They worked for it.
        But there is no minimum involvement level, and casual members are also encouraged to be involved.
    </p>
    
    <h4>Skill Level</h4>
    <p>
        You simply don't have all the skills you need to be on the right project for you yet, and you're going to have to get used to that.
        Every member of every project will learn a mountain of new things by project completion, and everyone is unprepared to some extent. It's what makes Tesla Works what it is.
        This means you'll have to be willing to work to learn - but it also means that your current skill level doesn't matter. We have a place for you.
    </p>
    
    <h4>But my major is...</h4>
    <p>
        You can help. You may have to work a little harder to find your fit, but no one has nothing substantial to add to a project.
        Push yourself, the project managers, and the officers to find that fit, and we'll all be better for it. Welcome.
    </p>
</div>
    
{% endblock %}

{% block html_post_body %}
<script src="/static/js/jquery-2.0.2.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    var project_cards = {};
    {% for project_name, project in projects.iteritems() %}
    project_cards["{{ project_name }}"] = {};
    project_cards["{{ project_name }}"]["interests"] = [];
    project_cards["{{ project_name }}"]["selected_interests"] = 0;
    
        {% for interest in project.interests %}
        project_cards["{{ project_name }}"]["interests"].push("{{ interest }}");
        {% endfor %}
    {% endfor %}
        
    $(document).ready(function(){
        $('#interest-buttons button').click(function(){
            var interest = $(this).data('interest');
            
            for (var project in project_cards) {
                var currently_selected = $(this).hasClass('active');
            
                if ($.inArray(interest, project_cards[project]["interests"]) != -1) {
                    if (!currently_selected) {
                        project_cards[project]["selected_interests"]++;
                        $('#' + project + " .starburst").css("opacity", "1");
                        $('#' + project + " .starburst").css("opacity", "1");
                    } else {
                        project_cards[project]["selected_interests"]--;
                        if (project_cards[project]["selected_interests"] == 0) {
                            $('#' + project + " .starburst").css("opacity", "0");
                            $('#' + project + " .starburst").css("opacity", "0");
                        }
                    }
                }
            }
        });
    });
    
</script>
{% endblock %}
