{% extends "base.html" %}

{% set title = 'Home' %}

{% block html_head %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block html_body %}

<div class="row-fluid">
    <div class="hero-unit">
        <img src="/static/img/logo-jumbo.png" alt="">
        <h1>Be a part of awesome engineering and design projects</h1>
    </div>
</div>

<div class="row-fluid">
    <div class="alert alert-info">
        Get involved by checking out our projects below!
    </div>
</div>

<div class="row-fluid">
    Filter by interest:
    <div id="interest-buttons" class="btn-group" data-toggle="button-toggle">
        <button class="btn" data-interest="electrical-engineering">EE</button>
        <button class="btn" data-interest="programming">Programming</button>
        <button class="btn" data-interest="mechanical-engineering">MechE</button>
        <button class="btn" data-interest="product-design">PDes</button>
        <button class="btn" data-interest="marketing">Marketing</button>
        <button class="btn" data-interest="graphic-design">Graphic Design</button>
    </div>
</div>

<div class="row-fluid">
    <ul class="thumbnails">
    {% for project_name, project in projects.iteritems() %}
        <li id="{{ project_name }}" class="span6">
            <div class="starburst">
                <i class="icon-star icon-4x"></i>
            </div>
            <a class="thumbnail click-zone" href="/{{ project_name }}">
                <img class="img-rounded" src={{ project.photos.front_page }} alt="">
                <h3>{{ project.project_title }}</h3>
                <p>{{ project.project_goal }}</p>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>

<div class="row-fluid">
    <a class="click-zone" data-toggle="collapse" data-target="#get-involved">
        <div class="alert alert-info">
            <span>Looking for other ways to get involved? <i class="icon-chevron-down"></i></span>
            <div id="get-involved" class="collapse out">
                <ol>
                    <li>Show up to a meeting! Meetings are Fridays at 5pm in Tate 170.</li>
                    <li>Email the group's president, Peter Wagner, at peter@wagner.fake.</li>
                    <li>Sign up for our mailing list!</li>
                </ol>
            </div>
        </div>
    </a>
</div>
    
{% endblock %}

{% block html_post_body %}
<script src="/static/js/jquery-2.0.2.min.js"></script>
<script src="/static/js/jquery-migrate-1.2.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript">
    
    var project_cards = {};
    {% for project_name, project in projects.iteritems() %}
    project_cards["{{ project_name }}"] = {};
    project_cards["{{ project_name }}"]["interests"] = [];
    project_cards["{{ project_name }}"]["selected_interests"] = 0;
    
        {% for interest in project.interests %}
        project_cards["{{ project_name }}"]["interests"].push("{{ interest }}");
        {% endfor %}
    {% endfor %}
        
    $(document).ready(function(){
        $('#interest-buttons button').click(function(){
            var interest = $(this).data('interest');
            
            for (var project in project_cards) {
                var currently_selected = $(this).hasClass('active');
            
                if ($.inArray(interest, project_cards[project]["interests"]) != -1) {
                    if (!currently_selected) {
                        project_cards[project]["selected_interests"]++;
                        $('#' + project + " .starburst").css("opacity", "1");
                        $('#' + project + " .starburst").css("opacity", "1");
                    } else {
                        project_cards[project]["selected_interests"]--;
                        if (project_cards[project]["selected_interests"] == 0) {
                            $('#' + project + " .starburst").css("opacity", "0");
                            $('#' + project + " .starburst").css("opacity", "0");
                        }
                    }
                }
            }
        });
    });
    
</script>
{% endblock %}
