{% extends "base.html" %}

{% set title =  project_data.name %}
{% set width = 8 %}

{% block html_head %}
{% endblock %}

{% block html_body %}  
  
<div class="row billboard">
    <h1>{{ project_data.name }}</h1>
    <img class="img-thumbnail img-responsive img-margin" src="{{ project_data.photos[0] }}" alt="">
    <p>{{ project_data.description }}</p>
</div>

{% import 'macros/form.html' as form with context %}

<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <a class="btn btn-primary btn-lg btn-block btn-margin" data-toggle="collapse" data-target="#join">Join This Project</a>
    <div id="join" class="collapse{% if errors['join_email'] %} in{% endif %}">
      {{ form.start('join-form') }}
      {{ form.input('email', 'join_email', "Email Address", "What's your email?", 'md') }}
      {{ form.submit("Join", 'success', 'md') }}
      {{ form.end() }}
    </div>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <a class="btn btn-default btn-lg btn-block btn-margin" data-toggle="collapse" data-target="#ask">Ask A Question</a>
    <div id="ask" class="collapse{% if errors['ask_msg'] or errors['ask_email'] %} in{% endif %}">
      {{ form.start('ask-form') }}
      {{ form.textarea('ask_msg', "Message", "What would you like to know?", 'md', 5) }}
      {{ form.input('email', 'ask_email', "Email Address", "What's your email?", 'md') }}
      {{ form.submit("Ask", 'success', 'md') }}
      {{ form.end() }}
    </div>
  </div>
</div>

<hr>

<div class="row">
    <h2>
    {% if project_data.leaders|length > 1 %}
        Project Leaders
    {% else %}
        Project Leader
    {% endif %}
    </h2>
</div>

{% import 'macros/project.html' as project %}

{% for l in project_data.leaders %}
{{ project.leader(l.photo_url, l.name, l.bio, l.email, l.phone) }}
{% endfor %}

<hr>

{% if project_data.long_description %}
<div class="row">
    <h2>Project Highlights</h2>
    <div>
        {{ project_data.long_description | nl2br }}
    </div>
</div>
{% endif %}

<hr>

<div class="footer">
    <p>&copy; Tesla Works 2013</p>
</div>

{% endblock %}

{% block html_post_body %}

<script type="text/javascript">

  $(document).ready(function(){

    {% if mixpanel_token %}
    mixpanel.track("Project Page", {
      "Project": "{{ project_data.project_title }}"
    });
    mixpanel.track_forms("#join-form", "Join Project", {
      "Project": "{{ project_data.project_title }}"
    });
    mixpanel.track_forms("#ask-form", "Ask Question About Project", {
      "Project": "{{ project_data.project_title }}"
    });
    {% endif %}

    $('form .has-error :input:visible:enabled:first').focus();
  });
</script>

{% endblock %}
