{% extends "base.html" %}

{% set title =  project_data.project_title %}
{% set page_width = 'col-md-offset-2 col-md-8' %}

{% block html_head %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block html_body %}  
  
<div class="text-center">
    <h1>{{ project_data.project_title }}</h1>
    <div class="cycle-slideshow"
      data-cycle-fx="fade"
      data-cycle-pause-on-hover="true"
      data-cycle-timeout="3000"
      data-cycle-speed="1500"
      >
    {% for img in project_data.photos.detail %}
        <img class="img-thumbnail img-responsive" src="{{ img }}" alt="">
    {% endfor %}
    </div>
    <p class="lead">{{ project_data.project_goal }}</p>
    <a class="btn btn-success btn-lg btn-block" href="mailto:{{ project_data.project_leaders[0].email }}?subject=I'm interested in joining the {{ project_data.project_title }} project!">Sign up today!</a>
</div>

<hr>

<div class="row">
    <h2>
    {% if project_data.project_leaders|length > 1 %}
        Project Leaders
    {% else %}
        Project Leader
    {% endif %}
    </h2>
</div>

{% for leader in project_data.project_leaders %}
<div class="row">
    <div class="col-md-3">
        <img src="{{ leader.photo }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-md-9">
        <div class="row">
            <h3 class="leader-name">{{  leader.name  }}</h3>
            <a href="{{ leader.email }}" class="leader-email">{{ leader.email }}</a>
            <span class="leader-phone">{{ leader.phone }}</span>
        </div>
        {{ leader.bio }}
    </div>
</div>
{% endfor %}

<hr>

<div class="row">
    <h2>Project Needs</h2>
</div>
<div class="row">
    <div class="col-md-6">
        <h4><i class="icon-wrench"></i> Engineering</h4>
        <ul>
        {% for need in project_data.project_needs.engineering %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h4><i class="icon-edit"></i> Design</h4>
        <ul>
        {% for need in project_data.project_needs.design %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <h4><i class="icon-shopping-cart"></i> Marketing</h4>
        <ul>
        {% for need in project_data.project_needs.marketing %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-md-6">
        <h4><i class="icon-beaker"></i> Other</h4>
        <ul>
        {% for need in project_data.project_needs.other %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>

    </div>
</div>

<hr>

<div class="footer">
    <p>&copy; Tesla Works 2013</p>
</div>

{% endblock %}

{% block html_post_body %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20130801/jquery.cycle2.min.js"></script>

{% endblock %}
