{% extends "base.html" %}

{% set title =  project_data.project_title %}
{% set width = 8 %}

{% block html_head %}
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
{% endblock %}

{% block html_body %}  
  
<div class="row text-center">
    <h1>{{ project_data.project_title }}</h1>
    <div class="cycle-slideshow"
      data-cycle-fx="fade"
      data-cycle-timeout="3000"
      data-cycle-speed="1500"
      >
    {% for img in project_data.photos.detail %}
        <img class="img-thumbnail img-responsive" src="{{ img }}" alt="">
    {% endfor %}
    </div>
    <p class="lead">{{ project_data.project_goal }}</p>
</div>

<div class="row">
  <div class="col-sm-6 col-sm-push-6">
    <a class="btn btn-primary btn-lg btn-block" data-toggle="collapse" data-target="#join-form">Join This Project</a>
    <div id="join-form" class="panel panel-default collapse{% if fields and fields.join %} in{% endif %}">
      <div class="panel-body">
        <form role="form">
          <fieldset>
            <div class="form-group{% if fields and fields.join and not fields.join['email'] %} has-error{% endif %}">
              <label for="join-email">Email</label>
              <input type="text" name="join[email]" class="form-control" id="join-email" placeholder="What's your email?" {% if fields and fields.join %}value="{{ fields.join['email'] }}"{% endif %}>
              {% if fields and fields.join and not fields.join['email'] %}<span class="help-block">Your email is required.</span>{% endif %}
            </div>
            <button type="submit" class="btn btn-success">Join</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-sm-pull-6">
    <a class="btn btn-default btn-lg btn-block" data-toggle="collapse" data-target="#ask-form">Ask A Question</a>
    <div id="ask-form" class="panel panel-default collapse{% if fields and fields.ask %} in{% endif %}">
      <div class="panel-body">
        <form role="form">
          <fieldset>
            <div class="form-group{% if fields and fields.ask and not fields.ask['msg'] %} has-error{% endif %}">
              <label for="ask-msg">Message</label>
              <textarea class="form-control" name="ask[msg]" id="ask-msg" rows="5" placeholder="What do you want to know?">{% if fields and fields.ask and fields.ask['msg'] %}{{ fields.ask['msg'] }}{% endif %}</textarea>
              {% if fields and fields.ask and not fields.ask['msg'] %}<span class="help-block">You've gotta have something to ask!</span>{% endif %}
            </div>
            <div class="form-group{% if fields and fields.ask and not fields.ask['email'] %} has-error{% endif %}">
              <label for="ask-email">Reply-To Email</label>
              <input type="text" name="ask[email]" class="form-control" id="ask-email" placeholder="What's your email?" {% if fields and fields.ask %}value="{{ fields.ask['email'] }}"{% endif %}>
              {% if fields and fields.ask and not fields.ask['email'] %}<span class="help-block">Your email is required.</span>{% endif %}
            </div>
            <button type="submit" class="btn btn-success">Ask</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="row">
    <h2>
    {% if project_data.project_leaders|length > 1 %}
        Project Leaders
    {% else %}
        Project Leader
    {% endif %}
    </h2>
</div>

{% for leader in project_data.project_leaders %}
<div class="row leader-row">
    <div class="col-sm-3">
        <img src="{{ leader.photo }}" alt="" class="img-thumbnail img-responsive">
    </div>
    <div class="col-sm-9">
        <div class="row">
            <h3 class="leader-name">{{  leader.name  }}</h3>
            <a href="{{ leader.email }}" class="leader-email">{{ leader.email }}</a>
            <span class="leader-phone">{{ leader.phone }}</span>
        </div>
        {{ leader.bio }}
    </div>
</div>
{% endfor %}

<hr>

<div class="row">
    <h2>Project Needs</h2>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4><i class="icon-wrench"></i> Engineering</h4>
        <ul>
        {% for need in project_data.project_needs.engineering %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-6">
        <h4><i class="icon-edit"></i> Design</h4>
        <ul>
        {% for need in project_data.project_needs.design %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <h4><i class="icon-shopping-cart"></i> Marketing</h4>
        <ul>
        {% for need in project_data.project_needs.marketing %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>
    </div>
    <div class="col-sm-6">
        <h4><i class="icon-beaker"></i> Other</h4>
        <ul>
        {% for need in project_data.project_needs.other %}
            <li>{{ need }}</li>
        {% endfor %}
        </ul>

    </div>
</div>

<hr>

<div class="footer">
    <p>&copy; Tesla Works 2013</p>
</div>

{% endblock %}

{% block html_post_body %}

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.cycle2/20130801/jquery.cycle2.min.js"></script>

{% endblock %}
