{% extends "base.html" %}

{% set title = 'Start a Project' %}
{% set page_width = 'col-md-offset-2 col-md-8' %}

{% block html_body %}

<p class="lead text-center">Submit your project idea here for review. You'll hear back from us in a few days.</p>

<hr>

<form role="form">
  <fieldset>
    <div class="form-group{% if fields and not fields['name'] %} has-error{% endif %}">
      <label for="name">Full Name</label>
      <input type="text" name="name" class="form-control input-lg" id="name" placeholder="What's your name?" {% if fields %}value="{{ fields['name'] }}"{% endif %}>
      {% if fields and not fields['name'] %}<span class="help-block">Your name is required.</span>{% endif %}
    </div>
    <div class="form-group{% if fields and not fields['email'] %} has-error{% endif %}">
      <label for="email">Email Address</label>
      <input type="email" name="email" class="form-control input-lg" id="email" placeholder="What's your email?" {% if fields %}value="{{ fields['email'] }}"{% endif %}>
      {% if fields and not fields['email'] %}<span class="help-block">A valid email address is required.</span>{% endif %}
    </div>
    <div class="form-group{% if fields and not fields['title'] %} has-error{% endif %}">
      <label for="title">Project Title</label>
      <input type="text" name="title" class="form-control input-lg" id="title" placeholder="What should we call your project?" {% if fields %}value="{{ fields['title'] }}"{% endif %}>
      {% if fields and not fields['title'] %}<span class="help-block">You've gotta call it something!</span>{% endif %}
    </div>
    <div class="form-group{% if fields and not fields['desc'] %} has-error{% endif %}">
      <label for="desc">Project Description</label>
      <textarea class="form-control input-lg" name="desc" id="desc" rows="12" placeholder="Convince us your project is worthwhile to pursue!" {% if values %}value="{{ fields['desc'] }}"{% endif %}></textarea>
      {% if fields and not fields['desc'] %}<span class="help-block">You forgot to fill out the project description!</span>{% endif %}
    </div>
    <button type="submit" class="btn btn-success btn-lg">Make it happen!</button>
  </fieldset>
</form>

{% endblock %}
