{% extends "base.html" %}

{% set title = 'Start a Project' %}
{% set width = 6 %}

{% block html_body %}

<p class="lead text-center">Submit your project idea here for review. You'll hear back from us in a few days.</p>

<hr>

{% import 'macros/form.html' as form with context %}

{{ form.start('start-project-form') }}

{{ form.input('text', 'name', "Full Name", "What's your name?", 'lg') }}
{{ form.input('email', 'email', "Email Address", "What's your email?", 'lg') }}
{{ form.input('text', 'ptitle', "Project Title", "What should we call your project?", 'lg') }}
{{ form.textarea('desc', "Project Description", "Convince us your project is worthwhile to pursue!", 'lg', 12) }}

{{ form.submit("Make It Happen!", 'success', 'lg') }}

{{ form.end() }}

{% endblock %}

{% block html_post_body %}

{% import 'macros/form.js' as form %}

<script type="text/javascript">

  $(document).ready(function(){

    {% if mixpanel_token %}
    mixpanel.track("Start a Project Page");
    mixpanel.track_forms("#start-project-form", "Submit Project");
    {% endif %}

    {{ form.js() | safe }}
  });
</script>

{% endblock %}
