<h1>Someone wants to join your project!</h1>

<p>Someone at the email address <a href="mailto:{{ email }}">{{ email }}</a> wants to join your project! Add them to the Basecamp project, and follow up with them there. Find out what they like to do, and tell them as much relevant information about the project as you can. Then tell them to let <em>you</em> know what they might want to do.</p>

<strong>Remember! You have to add this person to the Basecamp project yourself! The website doesn't do this yet.</strong>
